.Rproj.user
.Rhistory
.RData
.Ruserdata

data/**/*.RData
data/**/*.Rds
/.quarto/
**/*.quarto_ipynb
_freeze/
*_files/
*_cache/
_Material/
_Material*/
_Material*/
Ignorados/
.env
.positai
*test.yml
*test2.yml
*_test/
*test.qmd
*test2.qmd